
<article{{ attributes.addClass('Card BibliographyWebsite') }}>
  <a href="{{ node.field_link[0].value }}" {{ node.field_target_blank[0].value }} >
    <div{{ content_attributes.addClass('node__content') }}>
      {{ content }}
      <a href="{{ node.field_link[0].value }}" >{{ label }}</a>
    </div>
  </a>
</article>
