{%
  set classes = [
    'layout',
    'layout--twocol',
    'row',
    settings.extra_classes,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('col-sm-12', 'col-md-6') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col-sm-12', 'col-md-6') }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}


