{%
  set classes = [
    'layout',
    'layout--twocol',
    'row',
    settings.extra_classes,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass(settings.col1_classes) }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(settings.col2_classes) }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}


